/* Archivo: stile/agendarPorMedico.css */

.agendar-por-medico-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .volver-btn {
    width: 100px;
    margin: auto;
    background-color:#258AC9;
    color: white;
    text-decoration: underline;
    border: none;
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
  }

  .volver-btn:hover{
    background-color:#2559A6;
    color: white;
  }
  h2 {
    font-size: 2rem;
    color: #2c2c2c;
    margin-bottom: 30px;
  }
  
  .buscar-medico {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
  }
  
  .input-buscar-medico {
    width: 70%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
  }
  
  .btn-buscar-medico {
    padding: 5px 20px;
    background-color: #2c7be5;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .btn-buscar-medico i {
    font-size: 1.2rem;
  }
  
  .medico-info {
    margin-top: 40px;
    text-align: center;
  }
  
  
  .medico-info p {
    font-size: 1rem;
    color: #595959;
  }
  .icono-psico {
    margin-bottom: 20px;
    width: 150px;
    height: 150px;
  }
  .buscar{
    width: 20px;
    height: 20px;
  }
  