.agendar-especialidad-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  
  .volver-btn {
    width: 100px;
    margin: auto;
    background-color:#258AC9;
    color: white;
    text-decoration: underline;
    border: none;
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
  }

  .volver-btn:hover{
    background-color:#2559A6;
    color: white;
  }
  
  h2 {
    font-size: 40px;
    color: #2559A6;
    margin-bottom: 20px;
  }
  
  .search-container {
    margin-bottom: 20px;
  }
  
  .search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .especialidades-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .especialidad-item {
    width: 48%;
    margin-bottom: 15px;
  }
  
  .especialidad-btn {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #2559A6;
    color: white;
    font-size: 16px;
    cursor: pointer;
    text-align: left;
  }
  
  .especialidad-btn:hover {
    background-color: #e0e0e0;
    color: black;
  }