/* stile/configurarCita.css */
.configurar-cita-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .configurar-cita-form {
    width: 60%;
  }
  
  .resumen-cita {
    width: 35%;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
  }
  
  .configurar-cita-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .select-sede, .input-fecha {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .medico-info {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    margin-bottom: 20px;
  }
  
  .medico-info img {
    width: 50px;
    margin-right: 10px;
  }
  
  .continuar-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .continuar-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .resumen-cita h3 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .resumen-cita p {
    margin-bottom: 10px;
    font-size: 16px;
  }
  