/* stile/configurarCita.css */
.configurar-cita-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.configurar-cita-form {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.filtro-fecha {
  display: flex;
  align-items: center;

  margin-bottom: 20px;
}

.input-fecha-container {
  display: flex;
  align-items: center;
}
.iconreset{
  width: 30px;
  height: 30px;
  margin: 2px; 
  margin-right: 5px;
}
.input-fecha {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 200px;
}

.reset-fecha-cita{
  margin-left: 10px;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
}
.reset-fecha-cita :hover{
  background: transparent;
}
.tipo-consulta-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.tab-btn {
  padding: 10px 20px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: #555;
  border-bottom: 2px solid transparent;
}

.tab-btn.active {
  color: #00a3c4;
  border-bottom: 2px solid #00a3c4;
}

.horarios-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.hora-btn {
  padding: 10px 20px;
  border: 1px solid #00a3c4;
  border-radius: 5px;
  background-color: white;
  color: #00a3c4;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.hora-btn.selected {
  background-color: #00a3c4;
  color: white;
}

.hora-btn:hover {
  background-color: #00c4d8;
  color: white;
}

.horarios-disponibles-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columnas */
  gap: 10px; /* Espacio entre los botones */
  margin-top: 20px;
}

.hora-btn {
  background-color: #fff;
  border: 1px solid #00BFFF;
  border-radius: 4px;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hora-btn.selected {
  background-color: #00BFFF;
  color: white;
}

.medicos-list{
  display: flex;
  flex-direction: column;
  justify-content: justify;
  gap: 10px;
}

.continuar-btn {
  background-color: #2559A6;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.continuar-btn:disabled:hover{
  background-color: #004a7c;
  color: white;
  cursor: not-allowed;
}

.resumen-cita {
  width: 35%;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.resumen-cita h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.resumen-cita p {
  margin-bottom: 10px;
  font-size: 16px;
}
.volver-btn {
  width: 100px;
  margin: auto;
  background-color:#258AC9;
  color: white;
  text-decoration: underline;
  border: none;
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
}

.volver-btn:hover{
  background-color:#2559A6;
  color: white;
}