.olvide-contrasena-container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 200px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .olvide-contrasena-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 8px;
    text-align: left;
  }
  
  .input-group input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .btn-enviar {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #258AC9;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn-enviar:hover {
    background-color: #2559A6;
  }
  
  .volver-inicio {
    margin-top: 20px;
  }
  
  .volver-inicio a {
    color: #2559A6;
    text-decoration: none;
    font-size: 14px;
  }
  
  .volver-inicio a:hover {
    text-decoration: underline;
  }
  