.seleccionar-seguro-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .volver-btn {
    width: 100px;
    margin: auto;
    background-color:#258AC9;
    color: white;
    text-decoration: underline;
    border: none;
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
  }

  .volver-btn:hover{
    background-color:#2559A6;
    color: white;
  }
  
  .alerta-seguro {
    background-color: #ffefe0;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    color: #d9534f;
  }
  
  .opcion-seguro {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .opcion-seguro label {
    margin-right: 20px;
    font-size: 16px;
  }
  
  .agregar-seguro-btn {
    background-color: #00b2a9;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .agregar-seguro-btn:hover {
    background-color: #008a82;
  }
  
  .continuar-btn {
    display: block;
    background-color: #2559A6;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .continuar-btn:disabled {
    background-color: #2559A6;
    cursor: not-allowed;
  }
  
  .resumen-cita {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  .resumen-cita h3 {
    margin-bottom: 15px;
  }
  
  .resumen-cita p {
    margin: 5px 0;
    font-size: 16px;
    color: #333;
  }
  