.usertype {
    display: flex; /* Utiliza flexbox para la disposición de elementos */
    flex-direction: row; /* Los elementos hijos se organizan en una columna o filas */
    align-items: center; /* Centra los elementos hijos horizontalmente */
    justify-content: center; /* Centra los elementos hijos verticalmente */
   /*height: 100vh; /* La altura del contenedor ocupa el 100% de la altura de la ventana */
    text-align: center; /* Alinea el texto al centro */
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
}
.usercont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    background-color:rgb(37, 89, 166);
    height: 100vh;
}
.imagen{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 100vh;
}
.imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajustar la imagen al tamaño del contenedor */
}

.logouser {
    margin-left: 5px;
    border-radius: 50%; /* Hacer la imagen de perfil circular */
    width: 150px; /* Tamaño de la imagen de perfil */
    height: 150px; /* Tamaño de la imagen de perfil */
    box-shadow: 3px 5px 4px 0px rgba(0, 0, 0, 0.20);
    margin-bottom: 20px;
    overflow: hidden; /* Oculta cualquier parte de la imagen que sobresalga */
}

.logouser img {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    height: 100%; /* Ocupa toda la altura del contenedor */
    object-fit: cover; /* Ajusta la imagen para cubrir el área sin distorsionarla */
    border-radius: 50%; /* Aplica el mismo borde circular a la imagen */
}
.icon-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: flex; /* Utiliza flexbox para alinear la imagen y el texto */
    align-items: center; /* Alinea la imagen y el texto verticalmente */
    width: 150px;
    background-color:#00bcd4;/* #A9AAAD;*/
    color: white;
    border: none;
    border-radius: 5px;
    margin: 5px 0;
    transition: background-color 0.3s;
}

.button-icon {
    width: 30px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: 30px; /* Mantiene la proporción de la imagen */
    margin-right: 8px; /* Espacio entre la imagen y el texto */
}



.icon-button:hover {
    background-color: #2559A6;
}